.button {
  display: block;
  background-color: transparent;
  border: 1px solid black;
  font-family: monospace;
  padding: 1.25rem 3rem;
}

.button-full {
  width: 100%;
  text-align: center;
}

.button-fit {
  width: fit-content;
  margin: 0 auto;
}

.button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}