@import url(./sm/app.css);
@import url(./md/app.css);
@import url(./lg/app.css);

.slide-fade-enter-active,
.slide-fade-exit-active {
  transition: all 0.6s;
}

.slide-fade-enter,
.slide-fade-exit-to {
  flex: 0;
  padding: 0;
}


.slide-fade-enter-active .content,
.slide-fade-exit-active .content {
  transition: all 0.3s linear;
  opacity: 1;
}

.slide-fade-exit-active .content {
  transition: all 0.3s ease-out;
}

.slide-fade-enter-active .content {
  transition-delay: 0.3s;
}

.slide-fade-enter .content,
.slide-fade-exit-to .content {
  transform: translateX(25vw);
  opacity: 0;
}

.nav-fade-enter-active,
.nav-fade-exit-active {
  transition: all 0.6s;
}

.nav-fade-enter,
.nav-fade-exit-to {
  opacity: 0;
}