.community-event {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "event-1 placeholder event-2"
    "event-3 placeholder event-4";
  gap: 3rem;
}

.community-event__item {
  padding: 2rem 0;
}

.community-event__item-text {
  font-size: 6rem;
  text-align: center;
}

.community-event__item-event-1 {
  grid-area: event-1;
}

.community-event__item-event-2 {
  grid-area: event-2;
}

.community-event__item-event-3 {
  grid-area: event-3;
}

.community-event__item-event-4 {
  grid-area: event-4;
}

.community-event__item-event-placeholder {
  grid-area: placeholder;
  display: grid;
  place-items: center;
}

/* Features */
.community-features {
  padding: 3rem;
}

.community-features__heading {
  font-size: 7rem;
  margin-bottom: 3rem;
}

.community-features__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 8rem;
}

.community-features__row-item {
  position: relative;
}

.community-features__row-item h4 {
  font-size: 3rem;
  background-color: white;
  display: inline;
}

.feature-row-item__image {
  width: 100%;
  aspect-ratio: 11/7;

  background-size: cover;
  background-position: center;
}

.feature-1 {
  background-image: url("https://images.prismic.io/canalstreetmarket/ad63bd2481b47c4b95e0ce8eb265658541ace7f4_001-1-1.jpg?auto=compress,format");
}

.feature-2 {
  background-image: url("https://images.prismic.io/canalstreetmarket/9c41db6b59d689aeda46a6a6405d8767649629c4_joejoe.jpg?auto=compress,format");
}

.feature-row-item__placeholder {
  position: absolute;
  bottom: -4rem;
  left: 2rem;
}

.community-radio .three-grid__row {
  padding: 3rem 0;
  place-items: center;
}