.home-hero__text {
  font-size: 5rem;
  font-weight: 400;
}

.home-hero__image {
  width: 100%;
  aspect-ratio: 320/213;
  background-image: url(https://source.unsplash.com/OXXsAafHDeo);
  background-size: cover;
}

/* Column */
.home-column {
  padding: 6rem 3rem;
}

.home-column__heading {
  font-size: 8rem;
  font-weight: 400;
  margin-bottom: 6rem;
}

.home-column__row-item-image {
  width: 100%;
  aspect-ratio: 41/56;
  margin-bottom: 1rem;
  background-position: center;
  background-size: cover;
}


.home-column__row-item-desc {
  font-family: monospace;
  line-height: 1.5rem;
  font-size: 1rem;
}

/* event */
.home-events {
  padding: 3rem;
}

.home-events .three-grid__row {
  place-items: center;
}

/* address */
.home-address {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.home-address__text {
  width: 100%;
  padding: 6rem 3rem;
  box-sizing: border-box;
}

.home-address__text h3 {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
}