@import url(./main.css);

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #000;
  color: white;
}

::-webkit-scrollbar {
  width: 0;
}