@media screen and (min-width: 1023px) {
  .home-hero__text {
    font-size: 6rem;
  }

  .home-column__row-item-desc {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .home-column__heading {
    font-size: 8rem;
  }
}